@import '../../variabless';

.header{
    background: $primary;
    margin-bottom: 1px;
    box-shadow: 1px 0px 3px $border-line;
    .profile{
        .notification{
            float: right;
            .icon{
                float: left;
                width: 45px;
                .mat-icon{
                    width: 30px !important;
                    height: 30px !important;
                    position: relative;
                    top: 25px;
                }
            }
            .profilenamee{
                padding: 13px;
                font-size: 20px;
                font-weight: bold;
                border-radius: 100%;
                background:$secondary;
                width: 55px;
                hyphens: none;
                margin-top: 10px;
                color: $primary;
                float: left;
            }
        }
    }
}
