<div class="container header">
    <div class="row">
        <!-- logo -->
        <div class="col-md-3 logo">
            <img src="../assets/images/logo.jpg" alt="logo">
        </div>
        <div class="col-md-9 profile">
            <div class="notification">
                <div class="icon">
                    <mat-icon>notification_important</mat-icon>
                </div>
                <div class="profilenamee">
                    AP
                 </div>
            </div>            
        </div>
    </div>
</div>
    
