<div class="content-area">
    <div class="breadcrumb-block">
        <div class="headding">
                <mat-icon>storage</mat-icon> Users
            <div class="icons">
                <div class="icon1"> <a href="javascript:void(0)" (click)="showTable()"> 
                    <mat-icon>view_list</mat-icon> </a> 
                </div>
                <div class="icon2"> <a href="javascript:void(0)" (click)="showGrid()"> 
                        <mat-icon>view_module</mat-icon> </a>  </div>
            </div>
        </div>
        <div class="page-description">
            Total User : {{userlistCount}}
        </div>
    </div>
    <div class="userlists">

         <!-- Updating API Response Data -->
        <div class="row grid-table" *ngIf="displayGrid">
            <div class="col-md-3" *ngFor="let data of userData">
                <div class="box">
                    <div class="image">
                        <img src="../assets/images/profile.jpg" alt="user">
                    </div>
                    <div class="captions">
                        {{data.name}}
                    </div>
                    <div class="designation">
                        {{data.company.name}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Password data for Gird shared component -->
        <div *ngIf="displayTable">
            <app-grid [gridData]="userData" [matData]="matTable"> </app-grid>
        </div>
    </div>
</div>
